@charset "UTF-8"; 

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
  text-align: center;
}

header > h1 {
  padding-top: 50px; 
  font-variant: small-caps; /* deixar letras maiusculas com a primeira maior que as demais */
}

header > p {
  padding-bottom: 50px;
}

header a, footer a {
  color: white;
  text-decoration: none; /*tirar o sublinhado do link*/
  font-weight: bolder; /* fonte em negrito*/
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

section {
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em; /*espaço entre linhas*/
  padding-left: 30px; /* descolar o texto do lado esquerdo*/
}

section.normal {
  background-color: white;
  color: rgba(0, 0, 0, 0.651);
}

section.imagem {
  background-color: rgba(0, 0, 0, 0.349);
  color: white;

}

section.imagem > p {
  background-color: rgba(0, 0, 0, 0.315);
  width: 400px; /*largura*/
}


footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}